* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
}

header {
    width: 100vw;
    height: 50px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}

main > ul {
    display: grid;
    grid-template: 2fr / 1fr 1fr;
    list-style-type: none;
}

li:first-child {
    color: rgba(240, 248, 255, 0);
    background-color: rgb(25, 25, 25);
    height: 550px;
}

li > p:first-child {
    color: rgba(240, 248, 255, 0);
    background-color: grey;
    height: 275px;
}

li > p:last-child {
    color: rgba(240, 248, 255, 0);
    background-color: rgb(197, 197, 197);
    height: 275px;
}

footer {
    background-color: rgb(179, 179, 179);
    height: 50px;
}

@media screen and (max-width: 600px) {
    
    main > ul {
        display: block;
    }

    li:first-child {
        height: calc(550px/2);
    }
    
    li > p:first-child {
        height: calc(275px/2);
    }
    
    li > p:last-child {
        height: calc(275px/2);
    }
}