* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
width: 100vw;
height: 50px;
box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}


main {
    height: auto;
    margin: 3px;
}

main > ul {
    display: grid;
    grid-template: 2fr / 1fr 1fr 1fr 1fr;
    list-style-type: none;
}

li {
    margin:2px;
}
li > p:first-child {
    color: rgba(240, 248, 255, 0);
    background-color: grey;
    height: 200px;
}

li > p:last-child {
    color: rgba(240, 248, 255, 0);
    background-color: rgb(197, 197, 197);
    height: 100px;
}
